html {
  margin: 0;
  padding: 0;
}
header {
  height: 150px;
  width: 100%;
  background-color: #31758e;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}
@media screen and (max-width: 480px) {
  #object1 {
    height: 70px;
  }
  #logo {
    height: 60px;
    width: 30%;
    display: flex;

    margin: 10px auto;
  }
  div#title {
    font-size: 31px;
  }
  li #button {
    height: 15px;
    width: 100px;
    font-size: 10px;
  }

  #page1 {
    background-image: url(img2.png);
  }
  container {
    width: 100%;
    display: flex;
  }
  header {
    display: flex;
    flex-direction: column;
  }
}
nav {
  height: 90px;
  width: 40%;

  float: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul {
  padding: 10px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  float: left;
}
nav ul li {
  display: flex;
  justify-content: space-between;
  margin: auto 15px;
  flex-wrap: wrap;
  float: left;
}
#logo {
  height: 100px;
  width: 60%;
  display: flex;

  margin: 20px auto;
}
#object {
  height: 100px;
  width: 20%;
  margin: 20px auto;
}
#object2 {
  height: 35px;
}
#button {
  height: 30px;
  width: 150px;
  font-size: 15px;
  background-color: #ffbe15;
  color: white;
  padding: 3px;
  transition: all 0.8s ease 0s;
}
#button:hover {
  background-color: #e53935;
}
.link {
  text-decoration: none;
}
/*#logo {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  height: 70%;
  width: 30%;
}*/
#title {
  width: 200px;
  min-width: 200px;
  height: 100px;

  font-size: 46px;
  margin: 5px;
  flex-wrap: wrap;
}

#page1 {
  height: 40%px;
  width: 100%;
  display: flex;
  background-image: url(img1.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: nowrap;
  position: relative;
  color: white;
}
#link1 {
  font-size: 24px;
  margin: 20px auto;
  text-decoration: none;
  color: #ff907e;
}
p {
  margin: 0;
}
#font1 {
  font-size: 40px;
  margin: 10px auto;
}
#font2 {
  font-size: 48px;
}
#font3 {
  font-size: 24px;
  margin: 20px auto;
}
#text {
  padding: 100px 15%;
  height: 300px;
  width: 90%;
  height: inherit;
}

#page2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffbe15;
}
#text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#font4 {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  padding: 60px 60px;
  text-align: center;
}
#font5 {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px 0px;
  width: 50%;
}
container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 20px auto;
}
.card {
  width: 220px;
  height: 450px;
  margin: 10px;
  position: relative;
  border: 1px solid #f5dde1;
}

.product,
.description {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  background-color: #fff;
  backface-visibility: hidden;
  transition: 1s;
}
.description a {
  display: inline-block;
  padding: 10px 10px;
  margin: 20px auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ffbe15;
}
.description {
  padding: 20px;
  box-sizing: border-box;
  transform: rotateY(180deg);
}
.card:hover .product {
  transform: rotateY(180deg);
}

.card:hover .description {
  transform: rotateY(360deg);
}
#font6 {
  font-size: 30px;
  color: #ffbe15;
  margin: 5px;
}
footer {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  display: flex;
  flex-wrap: wrap;
}
#contacts {
  width: 30%;
  min-width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 15px 60px;
}
#contacts p {
  display: flex;
  justify-content: center;
}
footer ul {
  height: 100px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
footer ul li {
  margin: 10px;
}
#numb {
  width: 30%;
  min-width: 200px;
  margin: 15px 60px;
  text-align: center;
}
